
rules_version = '2';

function isAdmin() {
  return get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.isAdmin == true;
}

service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{productId} {
      allow read: if true;
      allow write: if false; // Products are managed statically
    }

    match /products/{productId}/reviews/{reviewId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }

    match /userProfiles/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /userProfiles/{userId}/orders/{orderId} {
      allow read, create: if request.auth != null && request.auth.uid == userId;
      // An admin can update any order status. A user can update their own order to 'processing'.
      allow update: if isAdmin() || (request.auth.uid == userId && request.resource.data.paymentStatus == 'processing');
      // Admins can list all orders, users can only list their own if they are logged in.
      allow list: if isAdmin() || (request.auth.uid == userId);
    }
  }
}
